@model IEnumerable<ToDoApp.Models.Todo>
@{	
	Layout = null;
}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ToDo Application</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<h2>Todo</h2>
	<table>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Description</td>
			<td>Complexity</td>
			<td>Date</td>
			<td>Group</td>
			<td>Owner</td>
		</tr>
		@foreach(var todo in Model)
		{
	<tr>
		<td>@todo.TodoId</td>
		<td>@todo.Name</td>
		<td>@todo.Description</td>
		<td>@todo.Complexity</td>
		<td>@todo.Duedate</td>
		<td>@todo.Group.Name</td>
		<td>@todo.User.Name</td>
	</tr>
		}
	</table>>
</body>
</html>
